<!-- Default Page View -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/prism.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <div class="user-info">
      <input id="url-to-fetch" class="search-box" name="fetchURL" type="text" placeholder="https://www.npmjs.com/">
      <input id="submit" type="button" value="Search" class="submit-btn">
    </div>
    <div class="error-container">
      <%= error %>
    </div>
    <div class="content-container">
      <div class="parsed-content-display">
        <pre id="parsed-result" class="language-markup"></pre>
      </div> 
      <div class="parsed-content-info">
        <table class="tag-info-table table-condensed table">
          <tr><th class="name-heading">Tag Name</th><th class="count-heading">Count</th></tr>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
